body {
    background: url(images/stripe.png);
    padding: 20px;
    text-align: center;
    font-family: verdana;
    font-size: 14px;
    color: grey;
}

div#outer {
    margin: 10px auto;
    width: 190px;
    padding: 10px;
    border: 3px double white;
    margin-top: 30px;
    margin-bottom: 30px;
}

div#block {
    width: 185px;
    height: 150px;
    background: white;
    border: 1px solid #fcc;
}

input#inline {
    background: white;
    border: 1px solid #fcc;
}

p.adorn {
    color: #ffffff;
    margin: 2px;
    color: grey;
}

a {
    color: #ffffff;
    margin: 10px;
}

a.inbook {
    color: black;
}